.form {
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 1rem;
    margin: 10rem auto 1rem;
    max-width: 80rem;
    background: transparent;
    text-align: left;
    font-size: $default-font-size;

    &__sender{
        display: flex;
        flex-flow: column;

        @include respond(screen-m){
            flex-flow: row;
            margin-bottom: 2rem;
            justify-content: space-between;
        }

    }

    .sender__name, .sender__family-name{
        display: flex;
        flex-flow: column;
        flex:1;

        @include respond(screen-m){
            flex: 0 0 calc(50% - 1rem);
        }
    }

    &__message{
        display: flex;
        flex-flow: column;
    }

    &__input, &__textarea{
        border: none;
        border-bottom: .1rem solid $color-secondary-dark;
        outline: none;
        padding: .5rem;
        margin-bottom: 1rem;
        background: transparent;
    }

    &__textarea{
        resize: none;
    }


    &__cta{
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .required-fields{
        font-size: 1.5rem;
    }

    &__btn{
        align-self: center;
    }
}

